extends base

block content
  div.content
    p Здравствуйте, #{firstName}!
    p Мы получили ваш запрос на удаление аккаунта и хотим подтвердить, что ваш аккаунт был успешно удален.
    p Если вы когда-нибудь решите вернуться, мы будем рады приветствовать вас снова. Наши двери всегда открыты для вас.