extends base

block content
  div.content
    p Привет, #{firstName}!
    p Спасибо за регистрацию учётной записи! Для начала надо убедиться, что вы — это вы! Нажмите, чтобы подтвердить свой адрес электронной почты:
    a(href=`${url}` target='_blank') Подтвердить e-mail